#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 1
#define NAV 2
#define NUM 3
#define SYM 4
#define SCROLL 5
#define FN 6
#define WIRELESS 7

// Mouse cursor

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

// Mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <FN>;
        input-processors = <&zip_wheel_scaler 3 1>;
    };
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        Backtick {
            bindings = <&kp GRAVE>;
            key-positions = <11 12>;
            require-prior-idle-ms = <200>;
        };

        DeleteKey {
            bindings = <&kp DEL>;
            key-positions = <7 8>;
        };
    };

    macros {
        scrshot: scrshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &kp LSHFT &kp LCTRL>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LCTRL &kp LSHFT &kp LGUI>
                ;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hm_s: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <120>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        lt_spc: layer_tap_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: DEFAULT (QWERTY + Home Row Mods)

        default_layer {
            bindings = <
&kp Q          &kp W     &kp E          &kp R          &kp T                                          &kp Y          &kp U          &kp I      &kp O       &kp P
&hm LCTRL A    &hm LALT S &hm LGUI D    &hm_s LSHFT F  &kp G                                          &kp H          &hm_s RSHFT J  &hm RGUI K &hm RALT L  &hm RCTRL SEMI
&kp Z          &kp X     &kp C          &kp V          &kp B                                          &kp N          &kp M          &kp COMMA  &kp DOT     &kp SLASH
&mt LCTRL ESC  &kp LGUI  &lt FN LANG2   &none          &lt_spc NAV SPACE  &lt SCROLL TAB  &kp BKSP       &lt SYM ENTER               &lt NUM LANG1  &kp DEL  &mt RSHFT SQT
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        // Layer 1: MOUSE (auto-activated by trackball)
        // Left hand modifiers are transparent -> use D(Cmd)+J(MB1), F(Shift)+K(MB2) etc.

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans    &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &mkp MB3  &mkp MB4  &mkp MB5  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans              &trans    &trans  &trans
            >;
        };

        // Layer 2: NAV (hold Space)
        // Left: explicit modifiers for Shift+Arrow etc. + Cmd clipboard
        // Right: navigation cluster (arrows, PgUp/Dn, Home/End)
        // Trackball: snipe mode (slow/precise)

        NAV {
            bindings = <
&none      &none      &none      &none      &none                          &none     &kp PG_DN  &kp UP    &kp PG_UP  &none
&kp LCTRL  &kp LALT   &kp LGUI   &kp LSHFT  &none                          &kp HOME  &kp LEFT   &kp DOWN  &kp RIGHT  &kp END
&kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(A)                      &none     &none      &none     &none      &kp DEL
&trans     &trans     &trans     &trans     &trans      &trans    &trans   &trans                &trans    &trans     &trans
            >;

            sensor-bindings = <&re_kp PG_DN PG_UP>;
        };

        // Layer 3: NUM (hold Backspace)
        // Left: number pad layout, Right: explicit modifiers

        NUM {
            bindings = <
&kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT                          &none   &none      &none     &none     &none
&kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL                         &none   &kp RSHFT  &kp RGUI  &kp RALT  &kp RCTRL
&kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH                          &none   &none      &none     &none     &none
&trans     &trans  &kp DOT  &none   &kp N0     &kp MINUS  &trans     &trans              &trans    &trans    &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        // Layer 4: SYM (hold right Enter)
        // Left: shifted symbols, Right: explicit modifiers

        SYM {
            bindings = <
&kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC                          &none   &none      &none     &none     &none
&kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS                          &none   &kp RSHFT  &kp RGUI  &kp RALT  &kp RCTRL
&kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE                          &none   &none      &none     &none     &none
&trans     &trans    &kp LPAR   &none      &kp RPAR   &kp UNDER  &trans     &trans              &trans    &trans    &trans
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        // Layer 5: SCROLL (hold Tab)
        // All transparent - trackball XY->scroll conversion via input processor

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        // Layer 6: FN (hold left Enter)
        // Function keys + media + screenshot macro
        // MO(WIRELESS) on pos40 for BT management

        FN {
            bindings = <
&kp F1     &kp F2    &kp F3    &kp F4     &kp F5                           &kp F6      &kp F7             &kp F8            &kp F9    &kp F10
&kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &kp F11                          &kp F12     &kp RSHFT          &kp RGUI          &kp RALT  &kp RCTRL
&none      &none     &scrshot  &none      &none                            &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp C_BRI_DN  &kp C_BRI_UP
&trans     &trans    &trans    &trans     &trans     &trans    &trans      &trans                         &trans            &trans    &mo WIRELESS
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        // Layer 7: WIRELESS (momentary from FN layer via pos40)
        // Bluetooth profile selection, clear, bootloader

        WIRELESS {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &none           &none  &none  &none  &none
&none         &none         &none         &none         &none                                &none           &none  &none  &none  &none
&none         &none         &none         &none         &none                                &none           &none  &none  &none  &bt BT_CLR
&none         &none         &none         &none         &none         &none    &bootloader  &studio_unlock         &none  &none  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };
    };
};
